@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  color: rgb(var(--foreground-rgb));

  font-family: var(--font-texgyretermes), var(--font-kopubbatang),
    'Times New Roman', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

mjx-container {
  display: inline-block;
  vertical-align: middle;
}

/* FIXME: */
mjx-container[display='true'] {
  display: flex !important;
  justify-content: center;
}

.content {
  counter-reset: h1counter;
  text-align: justify;
  hyphens: auto;

  line-height: 1.7;
  text-underline-offset: 3px;
}

@media screen and (max-width: 48rem) {
  .content {
    font-size: 0.9rem;
  }
}

.content h1 {
  counter-reset: h2counter;

  font-size: 1.7em;
  font-weight: bold;
  margin: 0.7rem 0;
}

.content section:has(#toc) {
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.content section:has(#toc) ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.content section:has(#toc) ol > li {
  display: table;
  counter-increment: item;
}

.content section:has(#toc) ol > li:before {
  content: counters(item, '.') '. ';
  display: table-cell;
  padding-right: 0.6em;
}

.content section:has(#toc) li ol > li {
  margin: 0;
}

.content section:has(#toc) li ol > li:before {
  content: counters(item, '.') ' ';
}

.content #toc {
  display: none;
}

.content h1:not(#toc):before {
  content: counter(h1counter) '. ';
  counter-increment: h1counter;
}

.content h1.nocount:before {
  content: none;
  counter-increment: none;
}

.content h2 {
  counter-reset: h3counter;

  font-size: 1.4em;
  font-weight: bold;
  margin: 0.7rem 0;
}

.content h2:before {
  content: counter(h1counter) '.' counter(h2counter) '. ';
  counter-increment: h2counter;
}

.content h2.nocount:before,
.content .footnotes h2:before {
  content: none;
  counter-increment: none;
}

.content h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.7rem 0;
}

.content h4 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.7rem 0;
}

.content .footnotes {
  border-top: 1px solid #e5e7eb;
  margin-top: 1rem;
}

.content p {
  margin: 1rem 0;
  text-indent: 1em;
}

.content blockquote {
  margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0 0 0 0.7em;
  border-left: 0.2rem solid dimgray;
}

.content blockquote p,
.content .footnotes p,
.content ul p,
.content ol p {
  text-indent: 0;
  margin: 0;
}

.content a {
  color: #3366cc;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.content a:visited {
  color: #795cb2;
}

.content .details {
  text-align: right;
  color: dimgray;
}

.content .details p {
  margin: 0.3rem 0;
}

.content .details a {
  color: dimgray;
  text-decoration: underline;
}

.content .details a:visited {
  color: dimgray;
}

.content .theorem {
  margin-bottom: 1rem;
}

.content .theorem .theorem-header {
  border: 1.5px solid #0092c8;
  border-left-width: 0;

  display: inline-block;
  position: relative;
  top: 1rem;
  left: 1rem;
}

.content .theorem .theorem-header .theorem-title {
  display: inline-block;

  background-color: #0092c8;
  color: white;
  padding: 0.05rem 0.5rem;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.content .theorem .theorem-header .theorem-subtitle {
  display: inline-block;

  background-color: white;
  color: black;
  padding: 0.05rem 0.4rem;
  font-size: 1em;
  margin: 0;
}

.content .theorem .theorem-body {
  border: 1px solid #0092c8;
  padding: 1.25rem 0.75rem 0.75rem 0.75rem;
}

.content table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.content th,
.content td {
  border: 1px solid black;
  padding: 0.5rem;
}

.content ul {
  list-style-type: disc;

  padding-inline-start: 1.5rem;
}

.content ul ul {
  list-style-type: circle;
}

.content ul ul ul {
  list-style-type: square;
}

.content ol {
  list-style-type: decimal;

  padding-inline-start: 1.5rem;
}

.content ol ol {
  list-style-type: lower-alpha;
}

.content ol ol ol {
  list-style-type: lower-roman;
}

.content code {
  font-family: 'Jetbrains Mono', monospace;
  font-size: 0.9em;
}

.content code:not(pre > code) {
  background-color: #f4f4f4;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}

.content pre {
  margin: 1rem 0;
}

.content pre > code {
  background-color: #f4f4f4;
  padding: 0.5em;
  border-radius: 0.3em;
}

.content hr {
  border: 0;
  border-top: 1px solid #e5e7eb;
  margin: 1rem 0;
}
